@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Lora:ital@0;1&family=Poppins:wght@300;400&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  margin: 0;
  background-color: #f8ad9d;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
  min-height: 500px;
}

img {
  width: 120px;
  border-radius: 10px;
  margin-top: 5px;
  transition: 0.8s ease;
}

img:hover {
  margin-bottom: 20px;
  box-shadow: 12px 12px #07072c;
}

.darkestPeach {
  background-color: #f08080;
  font-family: "Poppins", sans-serif;
  color: antiquewhite;
}

.darkPeach {
  background-color: #f4978e;
}

.Peach {
  background-color: #f8ad9d;
  display: grid;
  grid-template-columns: 40% auto;
}

.lightPeach {
  background-color: #f7dba7;
  color: White;
  font-family: "Poppins", sans-serif;
}

.awards:hover {
  margin-bottom: 20px;
  box-shadow: 12px 12px wheat;
}

.gray {
  font-family: "Poppins", sans-serif;
}

.whitePeach {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 50% 50%;
  font-family: "Poppins", sans-serif;
  word-wrap: break-word;
  justify-content: space-between;
  align-content: center;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: opacity(0);
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: opacity(100%);
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

span {
  font-family: "Lobster", cursive;
}

.final {
  gap: 1rem;
  font-family: "Dancing Script", cursive;
  width: 100%;
  margin: 0;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://i.ibb.co/0X3hHPZ/In-Shot-20231126-165607883.jpg")
  
}

.move {
  margin-right: 1000px;
}